body {
    display: flex;
    justify-content: center;
    font-family: monospace;
}

.calc_body {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(46, 46, 46);
    width: 592px;
    height: 812px;
    margin-top: 50px;
}

.display {
    display: flex;
    justify-content: end;
    align-self: center;
    align-items: center;
    width: 90%;
    height: 28%;
    font-size: xxx-large;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    color: #000000d1;
}

.buttons button {
    width: 148px;
    display: flex;
    height: 117px;
    border: 1px solid #dfdfdf;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
}

.side_btn {
    color: #6262ff;
    background-color: #63636317;
}

.equals {
    color: white;
    background-color: #6262ff;
}

.buttons button:active {
    background-color: rgba(201, 201, 201, 0.575);
}

.buttons button.equals:active {
    background-color: #3c3cff;
}

